.content-main {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 30px;
}

.title {
  color: palette(secondary);
  font-size: 2em;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 500;
  font-size: 1.5em;
}
