h3(class="subtitle") Single image:
p
  | Gallery with a single element.
include ../partials/_gallery_single.pug

h3(class="subtitle") Multiple images:
p
  | The most common case is when you have multiple images to display. #[br]
  | An example with eight images:
include ../partials/_gallery_multiple.pug

h3(class="subtitle") Different aspect ratios:
p
  | The cool thing is that you can have images with different aspect ratios.
include ../partials/_gallery_aspect_ratios.pug
