#getting-started
  h2(class="title") Getting started
  p
    | Import #[i avalonbox] and call #[i run] passing an id
    | of the gallery container.

  pre
    code(class="language-javascript")
      | import avalonbox from 'avalonbox'
      | avalonbox.run('image-gallery')
