
.#{$box}-move-button {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  transition: all $buttonFadeDuration ease-in-out;
  z-index: 3000;

  font-size: 3em;
  line-height: 0;
  bottom: 0;
  width: 45%;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  @media screen and (min-width: 500px) {
    width: 80px;
    top: 50%;
    height: 100%;
    transform: translate(0%, -50%);
  }
}

.#{$box}-prev-button {
  left: 0;
}

.#{$box}-next-button {
  right: 0;
}
