
.#{$box}-move-button {
  width: 25%;
  height: 25%;
  font-size: 1em;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  border: none;
  opacity: 0.5;
  outline: none;
  transition: all $buttonFadeDuration ease-in-out;
  z-index: 3000;

  line-height: 0;
  bottom: 0;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  @media screen and (min-width: 500px) {
    width: 8%;
    top: 50%;
    transform: translate(0%, -50%);
  }
}

.#{$box}-prev-button {
  left: 0;
}

.#{$box}-next-button {
  right: 0;
}

.icon {
  fill: #fff;
}

.svgOuter {
  width: 100%;
  padding-top: 48%;
  position: relative;
}

.svgInner {
  position: absolute;
  top: 0;
  left: 0;
}
