div(id="image-gallery-single" class="gallery")
  a(href="images/image_1.jpg")
    img(src="images/thumb_image_1.jpg" alt="")

div(class="gallery" id="image-gallery-many")
  a(href="images/old_stock/img_1.jpg")
    img(src="images/old_stock/img_1.jpg" alt="")

  a(href="images/old_stock/img_2.jpg")
    img(src="images/old_stock/img_2.jpg" alt="")

  a(href="images/old_stock/img_3.jpg")
    img(src="images/old_stock/img_3.jpg" alt="")

div(id="image-gallery-multiple" class="gallery")
  a(href="images/image_1.jpg")
    img(src="images/thumb_image_1.jpg" alt="")
