header(class="header")
  div(class="container")
    h1(class="header-title") Avalonbox
    p(class="header-subtitle") A simple lightbox solution in vanilla JS.
    a(class="btn btn-large btn-default"
       href="http://github.com/Nefla/avalonbox")
      | View on Github
