extends layout.pug

block content
  main.content-main
    .container
      include modules/_what_is.pug
      include modules/_installation.pug
      include modules/_getting_started.pug
      include modules/_html_sample.pug
      include modules/_examples.pug
