#image-gallery-multiple.gallery
  a(href='images/space_shuttle/image_1(4x3).jpg')
    img(src='images/space_shuttle/thumb_image_1(4x3).jpg', alt='')
  a(href='images/space_shuttle/image_2(9x16).jpg')
    img(src='images/space_shuttle/thumb_image_2(9x16).jpg', alt='')
  a(href='images/space_shuttle/image_3(16x9).jpg')
    img(src='images/space_shuttle/thumb_image_3(16x9).jpg', alt='')
  a(href='images/space_shuttle/image_4(3x4).jpg')
    img(src='images/space_shuttle/thumb_image_4(3x4).jpg', alt='')
