#image-gallery-many.gallery
  a(href='images/old_stock/img_1.jpg')
    img(src='images/old_stock/img_1.jpg', alt='')
  a(href='images/old_stock/img_2.jpg')
    img(src='images/old_stock/img_2.jpg', alt='')
  a(href='images/old_stock/img_3.jpg')
    img(src='images/old_stock/img_3.jpg', alt='')
  a(href='images/old_stock/img_4.jpg')
    img(src='images/old_stock/img_4.jpg', alt='')
  a(href='images/old_stock/img_5.jpg')
    img(src='images/old_stock/img_5.jpg', alt='')
  a(href='images/old_stock/img_6.jpg')
    img(src='images/old_stock/img_6.jpg', alt='')
  a(href='images/old_stock/img_7.jpg')
    img(src='images/old_stock/img_7.jpg', alt='')
  a(href='images/old_stock/img_8.jpg')
    img(src='images/old_stock/img_8.jpg', alt='')
