#installation
  h2(class="title") Installation
  p
    | 1. Install using npm.
  pre
    code(class="language-bash") npm install https://github.com/Nafta7/avalonbox
  p
    | 2. Get the CSS file from #[i dist] OR #[br]
    | 3. Integrate Sass file from #[i src/styles]
