// Overlay fade animations
@keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: -1000;
  }
  10% {
    opacity: 0;
    z-index: 1000;
  }
  100% {
    opacity: 1;
    z-index: 1000;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 1000;
  }
  50% {
    opacity: 0;
    z-index: 1000;
  }
  100% {
    z-index: -1000;
    opacity: 0;
  }
}

// Slide image animations
@keyframes slideOutLeft {
  0%   { transform: translate(-50%, -50%);  }
  100% { transform: translate(-250%, -50%); }
}

@keyframes slideOutRight {
  0%   { transform: translate(-50%, -50%);   }
  100% { transform: translate(200%, -50%);   }
}

@keyframes slideInRight {
  0%   { transform: translate(250%, -50%);   }
  100% { transform: translate(-50%, -50%);   }
}

@keyframes slideInLeft {
  0%   { transform: translate(-250%, -50%);  }
  100% { transform: translate(-50%, -50%);   }
}

// Image focus animation
@keyframes scaleIn {
  0%   { transform: translate(-50%, -50%) scale(0.4); }
  100% { transform: translate(-50%, -50%) scale(1);   }
}

// Spinner/loading animation
@keyframes spin {
  0%   { transform: rotate(0deg);   }
  100% { transform: rotate(360deg); }
}
